<div class="card light-green lighten-5 hoverable">
	<div class="card-content">
		<!--<h1>这是什么鬼？</h1>-->
		<!--<p>这个网站是我的博客，或者说就是一堆笔记。因为我记了很多笔记，有时候要交给别人看，有时候想让别人看，有时候等待给有需要的人看。</p>-->
		<!--<h3>为什么做成这个鸟样？</h3>-->
		<!--<p>嗯？因为突然想做成这样。你说网站太丑，这个没办法，因为我觉得还行。</p>-->
		<!--<h3>为什么就一个页面？</h3>-->
		<!--<p>因为文档是动态加载的，这个是历史遗留问题，我的所有笔记都是按一个固定目录格式写的，还全是markdown文档，写构建工具还是算了，要考虑哪些文件变更了之类的复杂问题，次次编译还挺麻烦的，直接搞个动态加载器吧。至于为什么把加载器放在了前端，因为这样的话我甚至不用部署应用服务器和写后台代码了。</p>-->
		<!--<h3>不SEO了？</h3>-->
		<!--<p>对，我也不是啥高手，写的太烂，暂时不SEO，最好别被收录，要不以后闹了笑话可咋整。</p>-->
		<!--<h3>想做个类似的？</h3>-->
		<!--<p>代码就在你的浏览器里。或者看Github仓库，目前所有代码就扔在git pages里</p>-->
		<!--<p>实际上我并没有写什么代码，只是把一堆工具、样式库组合了一下。</p>-->
		<h2>这是什么？</h2>
		<p>
			这个网站的内容由平时学习计算机相关技术时记录的笔记整理而成，由于是学习过程中的理解，加上本人水平有限，不保证内容全部是正确的。
		</p>
	</div>
</div>
<div class="card light-green lighten-5">
		<div class="card-content">
				<a href="https://github.com/guiji9511" class="btn waves-effect waves-light light-green accent-4">Github</a>
		</div>
</div>
