<div class="card light-green lighten-5 hoverable">
	<div class="card-content">
		<h1 class="light-green-text text-darken-4">不要乱点，会出bu...</h1>
		<h4>因为你不会用啦(╬￣皿￣)凸</h4>
	</div>
</div>
<div class="card yellow accent-1 hoverable">
	<div class="card-content">
		<p>点<i class="material-icons">search</i> ，其实没什么卵用</p>
	</div>
</div>
<div class="card yellow accent-2 hoverable">
	<div class="card-content">
		<p>点目录，可以看到笔记索引</p>
	</div>
</div>
<div class="card yellow accent-3 hoverable">
	<div class="card-content">
		<p>点关于，关于这个博客系统</p>
	</div>
</div>
<div class="card yellow accent-4 hoverable">
	<div class="card-content">
		<p>点我？不要点我</p>
	</div>
</div>
